*.a
*.class
*.iml
*.o
*.pdf
*~
.*.sw?
.DS_Store
.classpath
.idea/
.ideacrc_checker
.metadata
.project
.settings
.vscode/
__pycache__
asciiclient
asciiclient.jar
build/
classes/
hexdump
hexdump.jar
collatz
collatz.jar
db.sqlite3
deps/*.so
ethstats
ethstats.jar
index.html
libraw.a
out/
trace6
trace6.jar
venv
