# 本地规则
*.a
*.class
*.iml
*.o
*.pdf
*~
.*.sw?
.DS_Store
.classpath
.idea/
.ideacrc_checker
.metadata
.project
.settings
.vscode/
__pycache__
asciiclient
asciiclient.jar
build/
classes/
hexdump
hexdump.jar
collatz
collatz.jar
db.sqlite3
deps/*.so
ethstats
ethstats.jar
index.html
libraw.a
out/
trace6
trace6.jar
venv
.Rproj.user

# 远程规则
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

